@media (min-width: 768px) {
    .h2_project {
        font-size: 40px;
        line-height: 47px;
    }

    .p_project {
        font-size: 24px;
        line-height: 28px;
    }

    .header {
        padding-top: 54px;

        &__logo-img {
            width: 240px;
        }

        &__burger {
            right: 58px;
        }

        &__burger-ico {
            width: 61px;
            height: 32px;
        }
    }

}