@media (min-width: 768px) {
    .h2_project {
        font-size: 40px;
        line-height: 47px;
    }

    .p_project {
        font-size: 24px;
        line-height: 28px;
    }

    .center {
        padding-left: calc(50% - 447px);
        padding-right: calc(50% - 447px);

    }

    .header {
        padding-top: 54px;

        &__logo-img {
            width: 240px;
        }

        &__burger {
            right: 58px;
        }

        &__burger-ico {
            width: 61px;
            height: 32px;
        }
    }

    .worked {
        padding-top: 160px;
        padding-bottom: 80px;

        &__arrow {
            margin-top: 76px;
        }

        &__arrow-ico {
            width: 57px;
            height: 29px;
        }

        &__text {
            margin-top: 124px;
        }
    }

    .bluetooth {
        padding-top: 80px;

        &__ico {
            width: 21.45px;
            height: 40px;
        }

        &__heading {
            margin-top: 39px;
        }

        &__text {
            margin-top: 30px;

            &_big {
                margin-top: 70px;
                font-size: 150px;
                line-height: 176px;
            }
        }
    }

    .setting {
        &__box-item:first-child {
            margin-right: 30px;
        }

        &__item {
            max-width: 300px;

            &:first-child {
                margin-right: 30px;
            }
        }
    }

    .device {
        min-height: 1088px;

        &__text {
            margin-top: 30px;
        }

        &__order {
            display: flex;
            padding-left: 0;
        }

        &__list {
            font-size: 20px;
            line-height: 23px;

            &_border {
                border-left: 1px solid #494949;
                border-right: 1px solid #494949;
                margin-right: 22px;
                margin-left: 21px;
                padding-left: 28px;
                padding-right: 15px;
            }



            &:last-child {

                border-right: none;
            }
        }
    }

    .apps {
        padding-bottom: 70px;

        &__text {
            margin-top: 30px;

            &_bottom {
                font-size: 20px;
                line-height: 23px;
                margin-top: 26px;
            }
        }

        &__slider-img {
            margin-top: 54px;
            max-width: 497px;
        }

        &__btn-box {
            margin-top: 53px;
        }

        &__btn {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__btn-ico {
            width: 25px;
            height: 25px;
        }

        &__bottom {
            max-width: 765px;
            margin-top: 70px;
        }

        &__app-ico {
            margin-right: 36px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .comfort {
        &__text {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    .footer {
        padding-top: 47px;
        padding-bottom: 71px;

        &__text {
            font-size: 14px;
            line-height: 16px;
            width: 170px;
        }
    }
}