* {
    margin: 0;
    padding: 0;
}



.center {
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
}

.h2_project {
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.p_project {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    background: #E0E1E2;
    padding-top: 25px;
    position: relative;

    &__logo-img {
        width: 130px;
    }

    &__burger {
        position: absolute;
        right: 28.5px;
    }

    &__burger-ico {
        width: 30px;
        height: 15.74px;
    }

    &__menu {
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        background: #2F3132;
        z-index: 1;
        padding-top: 14px;
        padding-bottom: 208px;

    }

    &__menu-logo {
        width: 130px;
    }

    &__menu-top {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__close-btn {
        position: absolute;
        right: 15px;
        z-index: 1;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    &__menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 148px;
    }

    &__nav-link {
        color: #C4C4C4;
        text-decoration: none;

        &:hover {
            color: #FFFFFF;
            border-bottom: 2px solid #FFFFFF;

        }
    }

    &__menu-hide {
        display: none;
    }

}


.worked {
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    padding-bottom: 48px;
    background-color: #E0E1E2;

    &__img {
        width: 100%;
    }

    &__text {
        margin-top: 67px;
    }

    &__arrow {
        margin-top: 40px;
    }

    &__arrow-ico {
        width: 39.31px;
        height: 20px;
    }
}

.bluetooth {
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 18px;
    background: #EDEDED;

    &__img {
        width: 100%;

        &_width-1 {
            display: none;
        }
    }

    &__text {
        margin-top: 31px;

        &_big {
            font-weight: 900;
            font-size: 60px;
            line-height: 70px;
            text-transform: uppercase;
            color: #C4C4C4;
            margin-top: 31px;
        }
    }

    &__ico {
        margin-bottom: 27px;
        width: 18px;
        height: 34px;
    }
}

.setting {

    padding-top: 70px;
    padding-bottom: 63px;

    &__top {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        margin-top: 20px;
    }

    &__box-item {
        display: flex;
        margin-top: 30px;

    }

    &__item {
        max-width: 166px;
        padding-bottom: 8.5px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        outline: 1px solid black;

        &:first-child {
            margin-right: 6px;

        }
    }

    &__item-heading {
        margin-top: 9.5px;

        &_padding {
            margin-top: 15px;
        }
    }



    &__item-text {
        margin-top: 5px;
        width: 100%;
        box-sizing: border-box;

    }


}

.slider {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel-inner {
        width: auto;
    }

    &__bottom {
        margin-top: 50px;
        flex-direction: column;
    }

    &__heading {
        font-family: Roboto;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    &__text {
        margin-top: 17px;
    }

    &__btn {
        margin-right: unset;
        margin-bottom: unset;
        margin-left: unset;
        position: unset;
        gap: 19px;


    }

    &__btn [data-bs-target] {
        height: auto;
        text-indent: unset;
        border-radius: 50%;
        opacity: 1;
    }

    &__texture-img {
        border-radius: 50%;
        width: 100%;
    }
}

.device {
    background: #EDEDED;
    flex-direction: column;
    align-items: center;
    min-height: 718px;
    padding-top: 70px;
    background-image: url(../img/some-device.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    &__text {
        margin-top: 20px;
    }

    &__order {
        list-style-position: inside;
        margin-top: 36px;
    }

    &__list {
        text-align: left;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDEDED;
    padding-top: 70px;
    justify-content: center;

    &__top {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        margin-top: 20px;

        &_bottom {
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            margin-top: 20px;
        }
    }

    &__slider-img {
        margin-top: 35px;
        width: 100%;
    }

    &__slider-img_hide {
        display: none;
    }

    &__btn-box {
        margin-top: 20px;
        display: flex;
    }

    &__btn {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn-ico {
        width: 15px;
        height: 15px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #C4C4C4;
        width: 100%;
        margin-top: 50px;
        padding-top: 23px;
        padding-bottom: 26px;
    }

    &__box-ico {
        display: flex;
        justify-content: space-between;
    }

    &__app-ico {
        margin-right: 23px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.comfort {
    display: flex;
    flex-direction: column;

    &__top {
        margin-top: 70px;
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__top-img {
        width: 100%;
    }

    &__bottom {
        margin-top: 70px;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 37px;
    background-color: #2F3132;

    &__text {
        font-family: Roboto;
        font-size: 7px;
        line-height: 8px;
        text-align: center;
        color: #C7C8C8;
        width: 85px;
        margin-bottom: 0px !important;
    }
}

@import "w768px";
@import "w1024px";