* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0 !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
}

.h2_project {
  font-family: Roboto;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
}

.p_project {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E0E1E2;
  padding-top: 25px;
}

.header__logo-img {
  width: 130px;
}

.header__burger {
  position: absolute;
  right: 28.5px;
}

.header__burger-ico {
  width: 30px;
  height: 15.74px;
}

.worked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 93px;
  padding-bottom: 48px;
  background-color: #E0E1E2;
}

.worked__img {
  width: 100%;
}

.worked__text {
  margin-top: 67px;
}

.worked__arrow {
  margin-top: 40px;
}

.worked__arrow-ico {
  width: 39.31px;
  height: 20px;
}

.bluetooth {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 42px;
  padding-bottom: 18px;
  background: #EDEDED;
}

.bluetooth__img {
  width: 100%;
}

.bluetooth__text {
  margin-top: 31px;
}

.bluetooth__text_big {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-top: 31px;
}

.bluetooth__ico {
  margin-bottom: 27px;
  width: 18px;
  height: 34px;
}

.setting {
  padding-top: 70px;
  padding-bottom: 63px;
}

.setting__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting__text {
  margin-top: 20px;
}

.setting__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.setting__item {
  max-width: 166px;
  padding-bottom: 8.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 1px solid black;
}

.setting__item:first-child {
  margin-right: 6px;
}

.setting__item-heading {
  margin-top: 9.5px;
}

.setting__item-heading_padding {
  margin-top: 15px;
}

.setting__item-text {
  margin-top: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  margin-top: 28px;
}

.slider__bottom {
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__heading {
  font-family: Roboto;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.slider__text {
  margin-top: 17px;
}

.slider__btn {
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  position: unset;
  gap: 19px;
}

.slider__btn [data-bs-target] {
  height: auto;
  text-indent: unset;
  border-radius: 50%;
  opacity: 1;
}

.slider__texture-img {
  border-radius: 50%;
  width: 100%;
}

.device {
  background: #EDEDED;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 718px;
  padding-top: 70px;
  background-image: url(../img/some-device.jpg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.device__text {
  margin-top: 20px;
}

.device__order {
  list-style-position: inside;
  margin-top: 36px;
}

.device__list {
  text-align: left;
  margin-bottom: 16px;
}

.device__list:last-child {
  margin-bottom: 0;
}

.apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDEDED;
  padding-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apps__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__text {
  margin-top: 20px;
}

.apps__text_bottom {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 20px;
}

.apps__slider-img {
  margin-top: 35px;
  width: 100%;
}

.apps__btn-box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apps__btn {
  margin-right: 15px;
}

.apps__btn:last-child {
  margin-right: 0;
}

.apps__btn-ico {
  width: 15px;
  height: 15px;
}

.apps__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C4C4C4;
  width: 100%;
  margin-top: 50px;
  padding-top: 23px;
  padding-bottom: 26px;
}

.apps__box-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apps__app-ico {
  margin-right: 23px;
}

.apps__app-ico:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .h2_project {
    font-size: 40px;
    line-height: 47px;
  }
  .p_project {
    font-size: 24px;
    line-height: 28px;
  }
  .center {
    padding-left: calc(50% - 447px);
    padding-right: calc(50% - 447px);
  }
  .header {
    padding-top: 54px;
  }
  .header__logo-img {
    width: 240px;
  }
  .header__burger {
    right: 58px;
  }
  .header__burger-ico {
    width: 61px;
    height: 32px;
  }
  .worked {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .worked__arrow {
    margin-top: 76px;
  }
  .worked__arrow-ico {
    width: 57px;
    height: 29px;
  }
  .worked__text {
    margin-top: 124px;
  }
  .bluetooth {
    padding-top: 80px;
  }
  .bluetooth__ico {
    width: 21.45px;
    height: 40px;
  }
  .bluetooth__heading {
    margin-top: 39px;
  }
  .bluetooth__text {
    margin-top: 30px;
  }
  .bluetooth__text_big {
    margin-top: 70px;
    font-size: 150px;
    line-height: 176px;
  }
  .setting__box-item:first-child {
    margin-right: 30px;
  }
  .setting__item {
    max-width: 300px;
  }
  .setting__item:first-child {
    margin-right: 30px;
  }
  .device {
    min-height: 1088px;
  }
  .device__text {
    margin-top: 30px;
  }
  .device__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
  }
  .device__list {
    font-size: 20px;
    line-height: 23px;
  }
  .device__list_border {
    border-left: 1px solid #494949;
    border-right: 1px solid #494949;
    margin-right: 22px;
    margin-left: 21px;
    padding-left: 28px;
    padding-right: 15px;
  }
  .device__list:last-child {
    border-right: none;
  }
  .apps {
    padding-bottom: 70px;
  }
  .apps__text {
    margin-top: 30px;
  }
  .apps__text_bottom {
    font-size: 20px;
    line-height: 23px;
    margin-top: 26px;
  }
  .apps__slider-img {
    margin-top: 54px;
    max-width: 497px;
  }
  .apps__btn-box {
    margin-top: 53px;
  }
  .apps__btn {
    margin-right: 25px;
  }
  .apps__btn:last-child {
    margin-right: 0;
  }
  .apps__btn-ico {
    width: 25px;
    height: 25px;
  }
  .apps__bottom {
    max-width: 765px;
    margin-top: 70px;
  }
  .apps__app-ico {
    margin-right: 36px;
  }
  .apps__app-ico:last-child {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */